<section class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Job Post
                </p>

                <form class="mx-1 mx-md-4">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example1c"
                        class="form-control"
                        placeholder="Enter the job title"
                        name="title"
                        [(ngModel)]="postjob.title"
                      />
                      <label class="form-label" for="form3Example1c"
                        >Job Title</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example1c"
                        class="form-control"
                        placeholder="Enter the company name"
                        name="company"
                        [(ngModel)]="postjob.company"
                      />
                      <label class="form-label" for="form3Example1c"
                        >Company Name</label
                      >
                    </div>
                  </div>


                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example1c"
                        class="form-control"
                        placeholder="Enter the job location"
                        name="location"
                        [(ngModel)]="postjob.location"
                      />
                      <label class="form-label" for="form3Example1c"
                        >Location</label
                      >
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example1c"
                        class="form-control"
                        placeholder="Enter the job postion"
                        name="position"
                        [(ngModel)]="postjob.postion"
                      />
                      <label class="form-label" for="form3Example1c"
                        >Position</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example1c"
                        class="form-control"
                        placeholder="Enter the job type"
                        name="type"
                        [(ngModel)]="postjob.type"
                      />
                      <label class="form-label" for="form3Example1c"
                        >Type</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example3c"
                        class="form-control"
                        placeholder="Enter the job description"
                        name="description"
                        [(ngModel)]="postjob.description"
                      />
                      <label class="form-label" for="form3Example3c"
                        >Description</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example3c"
                        class="form-control"
                        placeholder="Enter the image url"
                        name="image"
                        [(ngModel)]="postjob.image"
                      />
                      <label class="form-label" for="form3Example3c"
                        >Image</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example3c"
                        class="form-control"
                        placeholder="Enter the number of required skills "
                        name="requiredskills"
                        [(ngModel)]="postjob.requiredskills"
                      />
                      <label class="form-label" for="form3Example3c"
                        >Required Skills</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example3c"
                        class="form-control"
                        placeholder="Enter the education details"
                        name="education"
                        [(ngModel)]="postjob.education"
                      />
                      <label class="form-label" for="form3Example3c"
                        >Education</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example3c"
                        class="form-control"
                        placeholder="Enter the job posted date"
                        name="posteddate"
                        [(ngModel)]="postjob.posteddate"
                      />
                      <label class="form-label" for="form3Example3c"
                        >Posted Date</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example3c"
                        class="form-control"
                        placeholder="Enter the no of vacancies"
                        name="vacancy"
                        [(ngModel)]="postjob.vacancy"
                      />
                      <label class="form-label" for="form3Example3c"
                        >Vacancy</label
                      >
                    </div>
                  </div>

                  
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example3c"
                        class="form-control"
                        placeholder="Enter the job salary"
                        name="salary"
                        [(ngModel)]="postjob.salary"
                      />
                      <label class="form-label" for="form3Example3c"
                        >Salary</label
                      >
                    </div>
                  </div>

                  
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example3c"
                        class="form-control"
                        placeholder="Enter the job application date"
                        name="applicationdate"
                        [(ngModel)]="postjob.applicationdate"
                      />
                      <label class="form-label" for="form3Example3c"
                        >Application Date</label
                      >
                    </div>
                  </div>
                                    
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example3c"
                        class="form-control"
                        placeholder="Enter the job experience in Years"
                        name="experience"
                        [(ngModel)]="postjob.experience"
                      />
                      <label class="form-label" for="form3Example3c"
                        >Experience</label
                      >
                    </div>
                  </div>
                  
                  <div class="form-check d-flex justify-content-center mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="form2Example3c"
                    />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in
                      <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="button"
                      class="btn btn-primary btn-lg"
                      (click)="handlepostjob()">{{jobId? "Update Job": "PostJob"}}</button>
                  </div>
                </form>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
